{% extends "base.html" %}
{% load static %}

{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<div class="register-page container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Pedidio en línea</h2>
            <!-- Display errors if any -->
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Por favor corrija los errores:</strong>
                </div>
            {% endif %}

            <!-- Form -->
            <storng>TODO</storng>
        </div>
    </div>
</div>

{% endblock %}