{% extends "base.html" %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <h1>Lista de Productos</h1>
    <div class="product-grid">
        {% for producto in productos %}
        <div class="product-card">
            <img src="{{ producto.model.image.url }}" alt="Imagen de {{ producto.name }}">
            <h2>{{ producto.name }}</h2>
            <p><strong>Precio por día:</strong> {{ producto.price_per_day }} €</p>
            <p>
                <strong>Disponibilidad:</strong>
                {% if producto.available %}
                    <span class="availability">Disponible</span>
                {% else %}
                    <span class="not-available">No disponible</span>
                {% endif %}
            </p>
            <p><strong>Puerto:</strong> {{ producto.port }}</p>
            <p><strong>Ubicación:</strong> {{ producto.port.address }}</p>
            <p><strong>Capacidad:</strong> {{ producto.model.capacity }}</p>
            <p><strong>Marca:</strong> {{ producto.model.brand }}</p>
        </div>
        {% empty %}
        <p>No hay productos disponibles.</p>
        {% endfor %}
    </div>
</body>
</html>

{% endblock %}
